<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h3 class=" title text-info">Detection from X-Rays</h3>
        </div>
        <div class=" card-body offset-md-4">
          
          <angular-file-uploader [config]="afuConfig">
          </angular-file-uploader>

        </div>
        <!-- <div class=" card-footer text-center">
          <button class=" btn btn-fill btn-danger" type="submit">Predict</button>
        </div> -->
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="assets/anims/detection.gif" />

              <h3 class=" title text-danger">Dr. Lungs</h3>
            </a>
            <p class=" description">Artificial Radiologist powered by Azure Vision</p>
          </div>
          <div class=" card-description text-left text-justify font-weight-bold">
            A team of researchers from Qatar University, Doha, Qatar and the
            University of
            Dhaka,
            Bangladesh
            along with their collaborators from Pakistan and Malaysia in collaboration with medical doctors have
            created a database of chest X-ray images for COVID-19 positive cases along with Normal and Viral
            Pneumonia images. In this component of the application we employ that dataset to detect COVID from
            Chest X-rays.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>