<div class=" content">
  <div class=" row">
    <div class=" col-md-10 offset-md-1">
      <div class=" card p-3">
        <div class=" card-header">
          <h2 class="text-primary font-weight-bold">Bot M.D.</h2>
          <p>A chatbot is a software application used to conduct an on-line chat conversation via text or
            text-to-speech, in lieu of providing direct contact with a live human agent.</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <ng-lottie widht="200px" height="350px" [options]="options"></ng-lottie>
              <div class=" form-group"><label> Ask your COVID queries</label>
                <textarea class=" form-control" cols="130" rows="2" value="">
              </textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-warning">Get Answers</button>
        </div>
      </div>
    </div>
  </div>
</div>